
  /* Cars' inventory galley */
  div.polaroid {
    width: 80%;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 2%;
    margin-left: 10%;
  }
  
  div.container {
    text-align: left;
    padding: 10px 20px;
  }
